@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

html {
	scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3497f3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3497f3;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

ul li {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 10px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

header ul li:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 05px;
  left: 0;
  top: 0;
  border-top: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  opacity: 0;
  transition: 0.5s;
}

header ul li:hover:before {
  opacity: 1;
  left: -10px;
  top: -10px;
}

header ul li:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 05px;
  right: 0;
  bottom: 0;
  border-bottom: 5px solid rgba(98, 182, 211, 1);
  border-right: 5px solid rgba(98, 182, 211, 1);
  opacity: 0;
  transition: 0.5s;
}

header ul li:hover:after {
  opacity: 1;
  right: -10px;
  bottom: -10px;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 15%;
  margin: 1em 0;
}

.logo img {
  height: auto;
  max-height: 85%;
  width: 90%;
}

#imgLogoIcone {
  display: none;
}

#arrowDrawer {
  display: none;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.sep {
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin: 10px;
  cursor: none;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: rgb(9, 80, 111);
  background: linear-gradient(265deg,
      rgba(9, 80, 111, 1) 0%,
      rgba(44, 120, 153, 1) 48%,
      rgba(98, 182, 211, 1) 100%);
  height: 14vh;
  margin-top: -14vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@import url("https://fonts.googleapis.com/css2?family=Sansita&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@300 & display=swap");

/* INICIO Texto do centro*/

/* main {
  background: url("home.png") no-repeat center center;
  background-size: cover;
  height: 115vh;
} */

.div-class-img {
  background: url("../assets/img/home.png") no-repeat center center;
  background-size: cover;
  height: 84vh;
  margin-top: 14vh;
}

.texto-sobre {
  position: static;
  margin-top: -65vh;
  width: 600px;
  margin-left: 10vh;
}

.texto-sobre h1 {
  font-size: 55px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.texto-sobre p {
  font-size: 20px;
  width: 400px;
  color: #fff;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#btn_index {
  background-color: #1d779e;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  width: 180px;
  cursor: pointer;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#btn_index:hover {
  transition: 0.3s;
  background-color: #6cb0cd;
  color: #fff;
}

/*FIM Texto do centro*/

/*---------------Sobre Nós------------------*/

#about {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 4%;
  color: rgb(56, 56, 56);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  background: rgb(237, 245, 248);
  background: linear-gradient(45deg,
      rgba(237, 245, 248, 1) 0%,
      rgba(252, 252, 252, 1) 38%,
      rgba(231, 231, 231, 1) 63%);
}

#about-1 {
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(56, 56, 56);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  background: rgb(237, 245, 248);
  background: linear-gradient(45deg,
      rgba(237, 245, 248, 1) 0%,
      rgba(252, 252, 252, 1) 38%,
      rgba(231, 231, 231, 1) 63%);
}

.about-content {
  padding-top: 20px;
  line-height: 35px;
}

.container {
  max-width: 1140px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row {
  margin: initial !important;
}

.col-md-6 {
  position: static;
  width: 40vw;
  height: 50vh;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-6-image {
  margin-top: -27.2%;
  margin-left: 50%;
  width: 40vw;
  height: 50vh;
  position: static;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-6-image {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 100;
}

img {
  vertical-align: middle;
  border-style: none;
}

.img-fluid {
  max-width: 85%;
  height: auto;
  align-items: center;
  margin-left: 15%;
}

img {
  vertical-align: middle;
  border-style: none;
}

/* -----DAQUI É SEGURANÇA----- */
#services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../assets/img/Imagens/bgbg.png);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#services h1 {
  text-align: center;
  color: #efefef !important;
  padding-bottom: 10px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#services h1::after {
  content: "";
  background: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

.services {
  margin-top: 40px;
}

.icon {
  font-size: 50px;
  margin: 15px auto;
  padding: 18px;
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
}

#services p {
  font-size: 14px;
  margin-top: 20px;
  color: #ccc;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  text-align: start;
  line-height: 23px;
}

.services .col-md-3:hover {
  background: #707070;
  cursor: pointer;
  transition: 0.9s;
}

.row2 {
  margin-left: 10000px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.services {
  margin-top: 40px;
}

.row2 {
  margin-left: 10000px;
  margin: initial !important;
}

.text-center {
  text-align: center !important;
}

.col-md-3 {
  -ms-flex: 0 0 22%;
  flex: 0 0 22%;
  max-width: 22%;
}

.col-md-3 {
  position: static;
  width: 80vh;
  padding-right: 15px;
  padding-left: 15px;
}

#mobile {
  display: none;
}

footer {
  width: 100%;
  padding: 50px 0px;
  height: auto;
  background: linear-gradient(265deg,
      rgba(98, 182, 211, 1) 0%,
      rgba(44, 120, 153, 1) 48%,
      rgba(9, 80, 111, 1) 100%);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: 'Montserrat';
}

.footer_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer_sobrenos {
  width: 40%;
}

.footer_sobrenos h2 {
  border-bottom: 2px solid #000000;
  margin-bottom: 10px;
  font-weight: 300;
}

.sci li {
  margin-left: 0px;
}

.sci li a i {
  font-size: xx-large;
  padding: 5px;
  border-radius: 5px;
  background-color: #0F0F0F;
}

.footer_links {
  width: 15%;
}

.footer_links h2 {
  border-bottom: 2px solid #000000;
  margin-bottom: 10px;
  font-weight: 300;
}

.footer_links ul {
  display: flex;
  flex-direction: column;
}

.footer_links ul li {
  margin: 5px;
}

.footer_contato {
  width: 25%;
}

.footer_contato h2 {
  border-bottom: 2px solid #000000;
  margin-bottom: 10px;
  font-weight: 300;
}

.footer_contato ul {
  display: flex;
  flex-direction: column;
}

.footer_contato ul li {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.footer_contato ul li i {
  margin-right: 10px;
}

@media screen and (max-width: 999px) {
  .footer_container {
    width: 65%;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .footer_container>* {
    width: 100%;
  }
}

@media (max-width: 999px) {
  #web {
    display: block;
  }

  #services {
    margin-top: -58%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../assets/img/Imagens/bgbg.png);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  #services h1 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  #services h1::after {
    content: "";
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
  }

  .services {
    margin-top: 40px;
  }

  .icon {
    font-size: 50px;
    margin: 15px auto;
    padding: 18px;
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
  }

  #services p {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    text-align: center;
    line-height: 23px;
  }

  .services .col-md-3:hover {
    background: #707070;
    cursor: pointer;
    transition: 0.9s;
  }

  .row2 {
    margin-left: 10000px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .services {
    margin-top: 40px;
  }

  .row2 {
    margin-left: 10000px;
    margin: initial !important;
  }

  .text-center {
    text-align: center !important;
  }

  .col-md-3 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-md-3 {
    position: static;
    width: 100vh;
    padding-right: 15px;
    padding-left: 15px;
  }

  #col-image {
    display: block;
  }

  #about {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 4%;
    color: rgb(56, 56, 56);
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    background: rgb(237, 245, 248);
    background: linear-gradient(45deg,
        rgba(237, 245, 248, 1) 0%,
        rgba(252, 252, 252, 1) 38%,
        rgba(231, 231, 231, 1) 63%);
  }

  .about-content {
    padding-top: 20px;
    width: 290px;
    text-align: justify;
    line-height: 25px;
  }

  .container {
    max-width: 1140px;
  }

  .container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .row {
    margin: initial !important;
  }

  .col-md-6 {
    position: static;
    width: 40vw;
    height: 50vh;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-6 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-md-6-image {
    margin-top: -15%;
    margin-left: -32%;
    width: 40vw;
    height: 50vh;
    position: static;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-6-image {
    -ms-flex: 0 0 50vh;
    flex: 0 0 50vh;
    width: 50vw;
  }

  img {
    vertical-align: middle;
    border-style: none;
  }

  .img-fluid {
    max-width: 85%;
    height: auto;
    align-items: center;
    margin-left: 15%;
  }

  img {
    vertical-align: middle;
    border-style: none;
  }

  .texto-sobre {
    position: static;
    margin-top: -50vh;
    width: 275px;
    margin-left: 5vh;
  }

  .texto-sobre h1 {
    font-size: 35px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
  }

  .texto-sobre p {
    font-size: 18px;
    width: 200px;
    color: #fff;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  #btn_index {
    background-color: #1d779e;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 120px;
    cursor: pointer;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: bold;
  }

  #btn_index:hover {
    transition: 0.3s;
    background-color: #6cb0cd;
    color: #fff;
  }

  .div-class-img {
    background: url("home.png") no-repeat center center;
    background-size: cover;
    height: 55vh;
    margin-top: 8vh;
  }

  #seps {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  .logo {
    margin-top: -1vh;
  }

  .logo img {
    width: 25vh;
    margin-left: -16vh;
  }

  .nav-bar {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(9, 80, 111);
    background: linear-gradient(265deg,
        rgba(9, 80, 111, 1) 0%,
        rgba(44, 120, 153, 1) 48%,
        rgba(98, 182, 211, 1) 100%);
    height: 10vh;
    width: 100vw;
    margin-top: -8.5vh;
  }

  .nav-list {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 50vw;
    margin-top: 0.8rem;
    height: 90vh;
    background: rgb(12, 65, 88);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
    margin-left: 80vw;
    margin-top: -14vh;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}